/***********************************************************/
/* Author: James Powell                                    */
/* Date:   7/10/2020                                       */
/* Purpose: This is the style sheet for the RMP webpages   */
/***********************************************************/

/* =========================LAYOUT SECTION=============== */
body{
    background-color: #a1a1a1;
    background-image: linear-gradient(to right, rgb(211, 211, 211),#a1a1a1, rgb(211, 211, 211));
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 16px;
}

/* ========================== HEADER ====================*/
#header{
    background-image: url("../scriptsAndData/pngFiles/fireLine.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #920101; 
    margin: 10px;
    font-size: 100%;
    color: #e4e4e4;
    font-weight: bolder;
    text-align: left;
    border-radius: 5px;

}

#header h1{
    font-size: 240%;
    padding-top: 230px;
    padding-left: 20px;
}

#header p{
    font-size: 110%;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 25px;

}

/* ======================= MENU BAR ====================*/
.menu {
    overflow: hidden;
    background-color:rgba(51, 51, 51, .9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    text-align: center;
    height: auto;

    border-color: rgb(75, 75, 75);
    border-width: thin;
    border-style: solid;
}

.menu a {
    font-size: 90%;
    color: white;
    float: left;
    padding: 10px 16px;
    padding-bottom: none;
    text-decoration: none;
    border-right: solid grey;
    border-width: 2px;
    font-weight: normal;

}
.menu a:hover {
    background-color: rgb(216, 0, 0);
}

/* ==== DROPDOWN ====*/
.dropdownMenu {
    float: left;
    overflow: hidden;
}

.dropdownMenu .dropbtnMenu {
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: normal;
    font-size: 90%;
    border-right: solid grey;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.dropdownMenu .dropbtnMenu:hover {
    background-color: rgb(216, 0, 0);
}

.dropdown-contentMenu {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, .99);
    min-width: 160px;
}

.dropdown-contentMenu a {
    float: none;
    padding: 12px 16px;
    /*text-decoration: none;*/
    display: block;
    text-align: left;
    color: white;
    border-left:  solid grey;
    border-right: none;
    border-width: 2px;
}

.dropdown-contentMenu a:hover {
    background-color: rgba(51, 51, 51, .99);
    color: rgb(216, 10, 10);
    /*color: white;*/
}

.dropdownMenu:hover .dropdown-contentMenu {
    display: block;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


/* ======================= NAVIGATION BAR ====================*/
#navbar{
    background-color: #a10000;
    background-image: linear-gradient(#a10000, red);
    margin: 11px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    text-align: center;   
    font-size: 90%; 
    
}

#navbar p{
    font-size: 100%;
    font-weight: normal;
    color: #e4e4e4;
}

#dropdown{
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 100%;
    display: inline-block;
}
button{
    display: inline-block;
    font-size: 90%;
    background-color: solid grey;
}


/* ========================== MAIN BODY ========================*/
.main{
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 90%;
    text-align: center;
    line-height: 150%;
}

hr{
    margin: 0px;
    border: 0;
    clear:both;
    display:block;
    width: 99%;               
    background-color: grey;
    height: 1px;
}

#imageBorder{
    border: 6px  solid grey;
    border-radius: 5px;
}

#KBDI_image {
    /* This is make the KBDI current year graph png ~ the same*/
    /* size as the yearly percentile picture and keep the     */
    /* right ratio to perserve the integrity                  */
    width:  700px;
    height: 613px;
    object-fit: cover;
    background-size: cover;
}


/* =================== Table ===========================*/
/* === smallTable is for the description at the ========*/
/* === bottom of the pages besides the Location Page====*/ 

table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: left;
    width: 775px;
    margin: 0 auto;
}

tr:nth-child(even) {background-color: rgb(212, 196, 196);}

table tr td{

    border: 1px solid black;
    padding 15px;

}
thead{
    text-align: center;
    font-weight: bold;
    background-color: rgb(165, 100, 100);
}

#smallTable{
    border-collapse: collapse;
    border: 2px solid rgb(59, 59, 59);
    text-align: left;
    width: 775px;
    margin: 0 auto;
    font-size: 90%;
    
}
#smallTable tr td {
    border: 1px solid rgb(59, 59, 59);
}

.dot {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 2px;
}
.dot1 {
    height: 5px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 2px;
}
.dot2 {
    height: 5px;
    width: 5px;
    background-color: rgb(0, 17, 255);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 2px;
}

/* ====================== FOOTER ===============*/
#footer{
    background-color: #a1a1a1;
    margin: 10px;
    height: 70px;
    font-size: 80%;
    text-align: center;
    padding-top: 5px;
}



/* ====================== PAGE SPECIFIC ===============*/
/* ================== FOR THE LOCATION PAGE ===========*/
/* Style the Image Used to Trigger the Modal */

/*https://codepen.io/ongtiffany/pen/BoOeQV*/

#locationPics {
    display:inline-block;
    text-align:center;
}


a.lightbox img {
    height: 400px;
    border: 6px  solid grey;
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid grey;
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0.5%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 1px;
}
